.gradle/
**/.gradle/
**/build/
!src/**/build/
.idea
/video
/my_videos
src/main/java/graphical/basics/examples
src/main/java/graphical/basics/animations
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

*.mov
.mov
.mp4


