.gradle/
**/.gradle/
**/build/
!src/**/build/
.idea
/video
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

*.mov
.mov
.mp4
